<div class="ui stackable grid container">
        <div class="content-wrap">
          <h2>Work Experience</h2>


          <section>
            <h3>Mendix Developer/Technical Support</h3>
            <p>Innovapost Inc., Canada Post Group of Companies</p>
            <p>Jun 2019 - present</p>
            <p>Projects:</p>
            <ul>
              <li>Delivery Mangement app</li>
              <li>Pick Availibity app</li>
              <li>Task Console app</li>
            </ul>
            <p>Job Description:</p>
            <ul>
              <li>Collaborate with agile development team to develop, test and maintain applications in production</li>
              <li>Fix bugs and enhance features in production apps using Mendix low-code software platform</li>
              <li>Perform data load and maintain data in production apps</li>
              <li>Participate deployment activities regularly</li>
              <li>Provide support to test teams during the various testing phases</li>
              <li>Offer support, guidance and help to end user & counterparts</li>
            </ul>
          </section>

            <section>
              <h3>Junior Developer -Coop</h3>
              <p>Brains Adventure Inc.,</p>
              <p>Sept 2018 - Dec 2018</p>
              <p>Job Description:</p>
              <ul>
                <li>Improved UI & UX for each component using CSS, Semantic UI to allow for a user-friendly experience</li>
                <li>Created new features using API endpoints based on Anuglar4</li>
                <li>Designed and implemented features such as CRUD on data tables, csv report export, input validation, etc.</li>
                <li>Developed backend APIs and tested with Postman, such as delete files on AWS using S3 Bucket API service</li>
                <li>Effectively Debugged and fixed bugs in several projects</li>
                <li>https://onyxerponline.com/</li>

              </ul>
            </section>
            
          <section>
            <h3>Junior Developer -Coop</h3>
            <p>Imperial Barber Shop</p>
            <p>May 2018 - Aug 2018</p>
            <ul>
              <li>Performed database installations and configurations</li>
              <li>Migrated database from CSV/ MS Access to MySQL </li>
              <li>Created a relational database (12 tables with a large records) and maintained database regularly</li>
              <li>Developed a general code for load all tables and achieved CRUD on data based on open source library</li>
              <li>Implemented SQL queries and developed web-based business reports with PHP</li>
              <li>Generated excel reports from database through JDBC connector</li>
            </ul>
          </section>
         
        </div>
</div>

<h3 class="ui top attached header">
  Top Attached
</h3>
<div class="ui attached segment">
  <p></p>
</div>
<h3 class="ui attached header">
  Attached
</h3>
<div class="ui attached segment">
  <p></p>
</div>
<h3 class="ui bottom attached header">
  Bottom Attached
</h3>