<div class="ui stackable grid container">
  <section class="work-experience">
    <div class="content-wrap divider">
      <h2>Work Experience</h2>

      <section class="job-item">
        <div class="job-details">
          <h3>Mendix Developer/Technical Support</h3>
          <p>Innovapost Inc., Canada Post Group of Companies</p>
          <p>Jun 2019 - present</p>
        </div>

        <div class="job-summary">
          <p>Projects:</p>
          <ul>
            <li *ngFor="let project of projects">{{project}}</li>
          </ul>
          <p>Job Description:</p>
          <ul>
            <li *ngFor="let jobDescription of jobDescriptions">{{jobDescription}}</li>
          </ul>
        </div>
      </section>

      <section class="job-item">
        <div class="job-details">
          <h3>Junior Developer -Coop</h3>
          <p>Brains Adventure Inc.,</p>
          <p>Sept 2018 - Dec 2018</p>

        </div>

        <div class="job-summary">
          <p>Job Description:</p>
          <ul>
            <li *ngFor="let job_BrainAdv_Description of job_BrainAdv_Descriptions">{{job_BrainAdv_Description}}</li>
          </ul>
        </div>
      </section>

      <section class="job-item">
        <div class="job-details">
          <h3>Junior Developer -Coop</h3>
          <p>Imperial Barber Shop</p>
          <p>May 2018 - Aug 2018</p>
        </div>
        <div class="job-summary">
          <p>Job Description:</p>
          <ul>
            <li *ngFor="let job_Shop_Description of job_Shop_Descriptions">{{job_Shop_Description}}</li>
          </ul>
        </div>
      </section>

    </div>
  </section>
</div>