<div class="ui stackable grid container">
  <div class="content-wrap">
    <div class="ui segment">
      <h1 class="ui centered header">Wecome to my hobby!!!</h1>

      <img class="ui centered medium circular image" src="assets/image/me-cake.jpg">
      <div class="ui clearing divider"></div>
      <div class="ui small images">
        <img class="ui small bordered image" src="assets/image/smile-cake.jpg">
        <img class="ui small bordered image" src="assets/image/d_cake.jpg">
        <img class="ui small bordered image" src="assets/image/yang_cake_new.jpg">
        <img class="ui small bordered image" src="assets/image/dress_cake.jpg">
        <img class="ui small bordered image" src="assets/image/cake-green.jpg">
        <img class="ui small bordered image" src="assets/image/peach-cake.jpg">
        <img class="ui small bordered image" src="assets/image/tianxin_cake.jpg">
      </div>

      <h1 class="ui centered header">SUSHI</h1>

      <div class="ui centered small images">
        <img class="ui small bordered image" src="assets/image/sushi1.jpg">
        <img class="ui small bordered image" src="assets/image/sushi2.jpg">
        <img class="ui small bordered image" src="assets/image/sushi3.jpg">
      </div>
      <h1 class="ui centered header">Cookies & Bread</h1>

      <div class="ui small images">
        <img class="ui small bordered image" src="assets/image/littlebum.jpg">
        <img class="ui small bordered image" src="assets/image/bread2.jpg">
        <img class="ui small bordered image" src="assets/image/bread1.jpg">
        <img class="ui small bordered image" src="assets/image/cookie1.jpg">
        <img class="ui small bordered image" src="assets/image/cookie2-1.jpg">
        <img class="ui small bordered image" src="assets/image/cookie2-2.jpg">
      </div>

    </div>
    <!-- <img class="ui medium bordered image" src="assets/image/kevin_cake.jpg"> -->
  </div>

 
</div>