
<div class="ui stackable grid container">
<section class="projects">
<div class="content-wrap divider">
    <h2>Featured Projects/Activity</h2>
    <div class="ui items">
        <div class="item">
          <div class="ui large image">
            <img src="assets/image//canada-post.jpg" alt="canada-post">
          </div>
          <div class="content">
            <a class="header">Buidling webpages for Canada Post</a>
            <div class="meta">
              <span>Supporting and working as a Developer to build webpages for various projects including delivery system,
                addressing app, and routing app and attending deployment/release activities regularly</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <a class="btn" href="https://www.canadapost.ca/cpc/en/home.page">View project</a>
          </div>
        </div>
        <div class="item">
          <div class="ui large image">
            <img src="assets/image/project-brains.jpg" alt="project-brains">
          </div>
          <div class="content">
            <a class="header">Developing webpages for Brians Adventure</a>
            <div class="meta">
              <span>Participated in developing and enhancing features including loglin validation, E-commerce platform, back
                office audit, APIs and more by using css, semantiic UI, HTML, Typescript, NodeJS among multiple projects</span>
            </div>
            <div class="description">
              <p></p>
            </div>
            <a class="btn" href="https://onyxerponline.com/" target="_blank">View project</a>
          </div>
        </div>

        <div class="item">
            <div class="ui large image">
                <img src="assets/image/learning-linkedin.jpg" alt="learning-linkedin">
            </div>
            <div class="content">
              <a class="header">Learning developing skills at LinkedIn/Udemy</a>
              <div class="meta">
                <span>Actively learning developing skills through linkedin/Udemy and other learning resources, including courses
                    HTML, CSS, Javascript/Typescript, Angular framework, MS database and much more</span>
              </div>
              <div class="description">
                <p></p>
              </div>
              <a class="btn" href="https://www.linkedin.com/in/bo-zhu-034719158" target="_blank">View linkedIn</a>
            </div>
          </div>

      </div>





    </div>
  </section>
</div>