.introduction {
    background:rgb(168, 224, 243);
}

.content-wrap {
    padding: 20px 0 20px 0; /*padding top, right, bottom, left*/
}

h1,h2 {
    text-align : center;
    }

.ui medium image {
    text-align: center;
  }

p{  
   
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium; */
}
