<div class="ui stackable grid container">
    <section class="introduction">
    <div class="content-wrap">
        <h1 class="ui header">Bo Zhu</h1>
        <h2 class="ui header">
            <div class="sub header">Web developer</div>
        </h2>

        <img class="ui centered medium circular image" src="assets/image/bo.jpg">
        <div class="ui segment">
            <p>With more than one-year technical support experience plus eight months coop skilled developer, a strong
                record of excellent teamwork and successful coding. Specializes in problem identification and proposal
                of
                alternative solutions. Have experience on both front-end and back-end development, testing, deployment,
                and
                support multiple apps in production. </p>

            <p>like travelling, music, doing photography and learning making cake since Covid. Always curious and open
                to new things!</p>

        </div>
    </div>
</section>
</div>