<!-- // <app-header></app-header>
// <div class="container">
  <router-outlet></router-outlet>
</div> -->



<div class="ui two inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item" routerLink="MyIntroduction" routerLinkActive="active">Introduction</a>
    <a class="item" routerLink="MyExperience" routerLinkActive="active">Experience</a>
    <a class="item" routerLink="MyEducationSkills" routerLinkActive="active">Education</a>
    <a class="item" routerLink="MyProjects" routerLinkActive="active">Projects</a>
    <a class="item" routerLink="MyHobbies" routerLinkActive="active">Hobbies</a>
    <a class="item" routerLink="MyContact" routerLinkActive="active">Contact</a>
  </div>
</div>

<router-outlet></router-outlet>

<!-- <div class="ui center main text container">
  <div class="ui segment">
    <h1 class="ui header">Welcome to the {{title}} channel</h1>
       <p><app-my-introduction></app-my-introduction></p>
  </div>
</div> -->


<div class="ui inverted vertial footer segment">
  <div class="ui center aligned container">&copy;&nbsp; Copyright 2021 &nbsp;|&nbsp;&nbsp;Bo Zhu
    &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved
  </div>
</div>




<!-- // <img class="ui medium circular image" src="assets/image/Chxmas.jpg">
// <h1 class="ui header">{{title}}</h1>
// <p>I am {{myObject.gender}} and {{myObject.age}} years old. I am in {{myObject.location}}</p>
// <ul>
  // <li *ngFor="let myhobby of myHobbies">{{myhobby}}</li>
  // </ul>


// <app-my-new-component></app-my-new-component>
// <app-my-introduction></app-my-introduction>
// <app-my-experience></app-my-experience>
// <app-my-education-skills></app-my-education-skills>
// <app-my-contact></app-my-contact>
// <app-my-hobbies></app-my-hobbies> -->