
<div class="ui two inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item" routerLink="MyIntroduction" routerLinkActive="active">Introduction</a>
    <a class="item" routerLink="MyExperience" routerLinkActive="active">Experience</a>
    <a class="item" routerLink="MyEducationSkills" routerLinkActive="active">Education</a>
    <a class="item" routerLink="MyProjects" routerLinkActive="active">Projects</a>
    <a class="item" routerLink="MyHobbies" routerLinkActive="active">Hobbies</a>
  </div>
</div>

<router-outlet></router-outlet>
<div class="ui inverted vertial footer segment">
  <div class="ui center aligned container">&copy;&nbsp; Copyright 2021 &nbsp;|&nbsp;&nbsp;Bo Zhu
    &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved
  </div>
</div>
