
<div class="ui stackable grid container">
<section class="education">
<div class="content-wrap">
<h2>Education</h2>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <h3 class="ui block header">Algonquin College</h3>
        <img class="ui medium bordered image" src="/assets/image/AC.jpg">
        <p>Computer Programmer</p>
        <p>Diploma, May 2019</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui block header">Technical Skills</h3>
        <ul>
          <li *ngFor="let techSkill of techSkills">{{techSkill}}</li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h3 class="ui block header">Soft Skills</h3>
        <ul>
          <li *ngFor="let softSkill of softSkills">{{softSkill}}</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </section>
</div>